
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="<%=todos_url%>">Index</a></li>
      <li role="presentation"><a href="<%=todos_list_url%>">List</a></li>
      <li role="presentation"><a href="<%=todos_new_path%>">New ToDo</a></li>
    </ul>
  </div>
</nav>
