<ul class="nav nav-pills navbar-fixed-top">
  <li role="presentation" class="active"><a href="<%=todos_url%>">Index</a></li>
  <li role="presentation"><a href="<%=todos_list_url%>">List</a></li>
  <li role="presentation"><a href="<%=todos_new_path%>">New ToDo</a></li>
</ul>
